@page "/barGraph"
@using ChartJs.Blazor.BarChart
@using BikeSeviceInventoryManagement.Data;

<h1>
    Bike Rental Data Analytics
</h1>
<Chart Config="_config"></Chart>


@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private BarConfig _config;
    private List<DataAnalysisDTO> _dataAnalysisDTO;
    protected override void OnInitialized()
    {
        _dataAnalysisDTO = DataAnalysisS.DataAnalysisDTO(_globalState.CurrentUser.Id);
        _config = new BarConfig
            {
                Options = new BarOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle
                    {
                        Display = true,
                        Text = "Items withdrawn from inventory"
                    }
                }
            };

        BarDataset<int> dataset = new BarDataset<int>();

        List<int> itemArrray = new List<int>();
        foreach (var color in _dataAnalysisDTO)
        {
            _config.Data.Labels.Add(color.TitleName);
            itemArrray.Add(color.ValueCount);
        }

        dataset = new BarDataset<int>(itemArrray)
            {
                BackgroundColor = new[]
                                {
                    ColorUtil.ColorHexString(127,17,224),
                    ColorUtil.ColorHexString(67,255,100),
                    ColorUtil.ColorHexString(55, 12, 89),
                    ColorUtil.ColorHexString(20,10,30),
                    ColorUtil.ColorHexString(128, 128, 128),
                    ColorUtil.ColorHexString(128, 128, 128),
                    ColorUtil.ColorHexString(128, 128, 128),
                    ColorUtil.ColorHexString(128, 128, 128),
                    ColorUtil.ColorHexString(128, 128, 128),
                    ColorUtil.ColorHexString(128, 128, 128),
                }
            };



        _config.Data.Datasets.Add(dataset);
    }
}