
.form-body {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.form-container {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}

.form-container .form-floating:focus-within {
    z-index: 2;
}
#password {
    box-shadow: 0 5px 5px 5px;
}

.form-login .current-password {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login .new-password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
